/* Nunito Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

* {
  font-family: "Nunito", sans-serif !important;
  font-weight: 400;
}

/* APP Styles */
.container {
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.logo img {
  width: 170px;
}
.za-navbar {
  padding: 10px 0;
  background-color: transparent !important;
}
.za-navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
.editor-textarea {
  width: 100%;
  min-height: 450px;
  max-height: 450px;
  overflow-y: scroll;
}
.submit-button {
  display: block;
  width: 100%;
  margin-top: 30px;
}
.feedback {
  margin-top: 20px;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 0;
  font-family: "Nunito", sans-serif !important;
}
